/* Footer */
#footer {
    position: absolute;
    background: #ddd6;
    text-align: center;
    color: black;
    box-sizing: border-box;

    width: 100vw;
    padding: 0.7em;
    transition: 0.3s;
}

#footer:hover {
    background: #454545;
    color: white;
}
